@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import "tailwindcss/tailwind.css";
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
 margin: 0;
 position: relative;
 font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 align-items: center;

}

